<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">My Portfolio</h1>
        <div class="box-container">
            
            <div class="box">
                <img src="about1.jpg">
                <h3>About Me</h3>
                <p>I am <strong>Dayana</strong>, engineering student studying
                    at KINGSTON ENGINEERING COLLEGE.I'm looking
                    forward to learn from experienced professionals
                    and putting my abilities to use in the development
                    of innovative software and website designs.
                    I like to learn new things.I never miss any
                    opportunities to learn something new.</p>
                <a href="#" class="btn"> read more</a>
            </div>

            <div class="box">
                <img src="skills1.png">
                <h3>Technical Skills</h3>
                <p>Basics in C Programming<br>Basics in Python Programming<br>3D Modelling</p>
                <h3>Soft Skills</h3>
                <p>Good Communication<br>Time Management<br>Problem Solving</p>
                <a href="#" class="btn"> read more</a>
            </div>

            <div class="box">
                <img src="education1.png">
                <h3>Academic Experience</h3>
                <h2>BE-CSE</h2>
                <p>Kingston Engineering College <br>percentage: 88%</p>
                <h2>HSC</h2>
                <p>Sunbeam Matric.Hr.Sec.School <br>12th percentage: 85%</p>
                <h2>SSLC</h2>
                <p>Sunbeam Matric.Hr.Sec.School <br>10th percentage: 98%</p>              
                <a href="#" class="btn"> read more</a>
            </div>

            <div class="box">
                <img src="certificate.png">
                <h3>Certifications</h3>
                <p>1. Certificate on Data Analytics With Cognos Course Completion - IBM <br>
                   2. Certification on cicso networking <br>
                   3. Certificate on MS word <br>
                   4. Certificate on Web Designing - Free Code Camp</p>
                <a href="#" class="btn"> read more</a>
            </div>

            <div class="box">
                <img src="projects.png">
                <h3>Projects Done</h3>
                <p>1. Project On Smart Motion Sensor<br>2. Project On Simple Home Automation</p>
                <h3>Activities</h3>
                <p>1. Participated in Project Expo 2023<br>2. Attended a workshop on value added course(AR/VR)</p>
                <a href="#" class="btn"> read more</a>
            </div>

            <div class="box">
                <img src="contact.jpeg">
                <h3>Contact Me</h3>
                <div class="contact-list">
                    <li>E-mail:   dayana0762795@gmail.com</li>
                    <li>linkedin: linkedin.com/in/dayana-s-b51225280/</li>
                    <li>Github:   github.com/DayanaS05</li>
                    <li>Mobile:   +91 7397612662</li>
                </div>
                <a href="#" class="btn"> read more</a>
            </div>
        </div>
    </div>

    <div class="container">
        <header>
            <h1>My Projects</h1>
        </header>
        <section class="education">
            <div class="education-item">
                <h2> Project On Smart Motion Sensor</h2>
                <p class="institution">Tools: Arduino Libraries, Matlab<br>Languages: c/C++, Python </p>
                <p class="description">A Smart Motion Sensor project aims to create a system that can detect and respond to motion using various sensors and technologies.To design and implement a smart motion sensor system that detects movement within a specified area and triggers a response based on predefined conditions. This system can be used for security, automation, or monitoring purposes.</p>
            </div>
            <div class="education-item">
                <h2>Project on Simple Home Automation</h2>
                <p class="institution">Tools: Wi-Fi, Bluetooth, Raspberry Pi, Arduino<br>Languages: Python, Javascript, MySQL</p>
                <p class="description">To design and implement a basic home automation system that allows users to control household devices (like lights, fans, or appliances) remotely and automatically based on certain conditions.</p>
            </div>
        </section>
    </div>
</body>
</html>

